body {
    background-color: rgba(174, 244, 252, 0.855);
}

h1 {
    font-family: courier;
    text-align: center;
    border: 2px solid grey;
    padding: 10px;
}

h2 {
    color: rgb(212, 40, 212);
    font-family: courier;
    font-size: 40px;
}

p {
    font-family: courier;
    color: rgb(255, 36, 58);
    font-size: 20px;
}

a:link,a:visited {
    color: white;
    background-color: rgb(203, 91, 203);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,a:active {
    color: yellow;
    background-color: powderblue;
    text-decoration: underline;
}
